# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [3]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("suap/2023_03_RMA_SUAP.pdf", pages="1")
mes = '2023_03_RMA'
# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.dropna()
display(df_suap)

df_suap = df_suap[:-1]

# removendo e renomeando colunas
df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada'])
df_suap['ED'] = df_suap['Cod.']
df_suap['saida'] = df_suap['Saída']
df_suap['saldo_suap'] = df_suap['Estoque.1']
df_suap = df_suap.drop(columns=['Cod.', 'Estoque.1', 'Saída'])

# substituindo caracteres para a conversão em numero
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(".", "", regex=True)
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(",", ".", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(".", "", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(",", ".", regex=True)


df_suap['saldo_suap'] = pd.to_numeric(df_suap['saldo_suap'])
df_suap['saida'] = pd.to_numeric(df_suap['saida'])
print("{:.2f}".format(df_suap['saldo_suap'].sum()))
print(df_suap.info())
display(df_suap)

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
1,07,GENEROS DE ALIMENTACAO,"680,00","680,00","1.360,00","0,00"
2,14,MATERIAL EDUCATIVO E ESPORTIVO,"33.321,29","0,00","1.478,22","31.843,07"
3,16,MATERIAL DE EXPEDIENTE,"54.696,25","1.199,40","497,84","55.397,81"
4,17,MATERIAL DE PROCESSAMENTO DE DADOS,"13.597,99","0,00","120,00","13.477,99"
5,19,MATERIAL DE ACONDICIONAMENTO E,"2.320,87","0,00","0,00","2.320,87"
7,21,MATERIAL DE COPA E COZINHA,"6.619,41","0,00","0,00","6.619,41"
8,22,MATERIAL DE LIMPEZA E PROD. DE,"16.525,98","0,00","864,60","15.661,38"
10,23,"UNIFORMES, TECIDOS E AVIAMENTOS","9.857,19","23.682,25","12.424,09","21.115,35"
11,24,MATERIAL P/ MANUT.DE BENS,"31.921,53","56.924,89","56.942,39","31.904,03"
13,25,MATERIAL P/ MANUTENCAO DE BENS,"199,60","0,00","0,00","199,60"
15,26,MATERIAL ELETRICO E ELETRONICO,"19.030,42","140,00","9,66","19.160,76"
16,28,MATERIAL DE PROTECAO E SEGURANCA,"25.110,53","0,00","0,00","25.110,53"
17,36,MATERIAL HOSPITALAR,"913,40","0,00","0,00","913,40"
18,42,FERRAMENTAS,"5.561,92","57,00","0,00","5.618,92"
19,44,MATERIAL DE SINALIZACAO VISUAL E,"266,00","0,00","0,00","266,00"
21,59,MATERIAL PARA DIVULGAÇÃO,"676,60","0,00","0,00","676,60"
22,-,Todos os Elementos de Despesa,"221.298,98","82.683,54","73.696,80","230.285,72"

230285.72
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 1 to 21
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ED          16 non-null     object
 1   saida       16 non-null     float64
 2   saldo_suap  16 non-null     float64
dtypes: float64(2), object(1)
memory usage: 512.0+ bytes
None

    ED     saida  saldo_suap
1   07   1360.00        0.00
2   14   1478.22    31843.07
3   16    497.84    55397.81
4   17    120.00    13477.99
5   19      0.00     2320.87
7   21      0.00     6619.41
8   22    864.60    15661.38
10  23  12424.09    21115.35
11  24  56942.39    31904.03
13  25      0.00      199.60
15  26      9.66    19160.76
16  28      0.00    25110.53
17  36      0.00      913.40
18  42      0.00     5618.92
19  44      0.00      266.00
21  59      0.00      676.60

In [4]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("siafi/2023_03_RMA_SIAFI.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
df_siafi = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')



# fatiando coluna para obter colunas ED e Saldo
df_siafi['ED'] = df_siafi['conta'].str[:4]
df_siafi['saldo_siafi'] = df_siafi['conta'].str[4:-1]

# removendo coluna ajustada
df_siafi = df_siafi.drop(columns=['conta'])

# utilize aqui para dropar as linhas extras quando some ou adiciona um novo ED
display(df_siafi)
df_siafi = df_siafi.drop(index=[15,16,17,18])

# substituindo caracteres para a conversão em numero
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(".", "", regex=True)
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(",", ".", regex=True)
df_siafi['ED'] = df_siafi['ED'].str.replace("P ", "", regex=True)
df_siafi['saldo_siafi'] = pd.to_numeric(df_siafi['saldo_siafi'])

print("{:.2f}".format(df_siafi['saldo_siafi'].sum()))
display(df_siafi)
print(df_siafi.info())

      ED                           saldo_siafi
0   P 14                            33.321,29
1   P 16                            54.696,25
2   P 17                            13.597,99
3   P 19                             2.320,87
4   P 21                             6.619,41
5   P 22                            16.525,98
6   P 23                            33.539,44
7   P 24                            31.921,53
8   P 25                               199,60
9   P 26                            19.030,42
10  P 28                            25.110,53
11  P 36                               913,40
12  P 42                             5.561,92
13  P 44                               266,00
14  P 59                               676,60
15  TOTA  L COM ISF P − PERMANENTE:244.301,23
16  TOTA                L DA CONTA:244.301,23
17   NaN                                   NaN
18   NaN                                   NaN

244301.23

    ED  saldo_siafi
0   14     33321.29
1   16     54696.25
2   17     13597.99
3   19      2320.87
4   21      6619.41
5   22     16525.98
6   23     33539.44
7   24     31921.53
8   25       199.60
9   26     19030.42
10  28     25110.53
11  36       913.40
12  42      5561.92
13  44       266.00
14  59       676.60

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ED           15 non-null     object
 1   saldo_siafi  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 360.0+ bytes
None

In [6]:
# unindo data frames do suap e siafi em uma unica tabela
df_rma = pd.merge(df_suap, df_siafi, how = 'inner', on='ED')
df_rma = df_rma.reindex(columns=['ED','saldo_suap', 'saida', 'saldo_siafi'])

# calculando a diferença entre colunas 
df_rma['diferenca'] = df_rma['saldo_suap'] - df_rma['saldo_siafi']

# definindo a ação para cafa resultado
acao = []
for valor in df_rma['diferenca']:
    
    if valor > 0:
        baixa = "baixa no suap"
        acao.append(baixa)
    elif valor < 0:
        baixa = "baixa no siafi"
        acao.append(baixa)
    else:
        baixa = 'adequado'
        acao.append(baixa)

df_rma['acao'] = acao

display(df_rma)
df_rma.to_clipboard()
df_rma.to_excel(f'saida/{mes}.xlsx')

    ED  saldo_suap     saida  saldo_siafi  diferenca            acao
0   14    31843.07   1478.22     33321.29   -1478.22  baixa no siafi
1   16    55397.81    497.84     54696.25     701.56   baixa no suap
2   17    13477.99    120.00     13597.99    -120.00  baixa no siafi
3   19     2320.87      0.00      2320.87       0.00        adequado
4   21     6619.41      0.00      6619.41       0.00        adequado
5   22    15661.38    864.60     16525.98    -864.60  baixa no siafi
6   23    21115.35  12424.09     33539.44  -12424.09  baixa no siafi
7   24    31904.03  56942.39     31921.53     -17.50  baixa no siafi
8   25      199.60      0.00       199.60       0.00        adequado
9   26    19160.76      9.66     19030.42     130.34   baixa no suap
10  28    25110.53      0.00     25110.53       0.00        adequado
11  36      913.40      0.00       913.40       0.00        adequado
12  42     5618.92      0.00      5561.92      57.00   baixa no suap
13  44      266.00      0.00       266.00       0.00        adequado
14  59      676.60      0.00       676.60       0.00        adequado