# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [25]:
import tabula

lista_suap = tabula.read_pdf("rma_suap.pdf", pages="1")
print(len(lista_suap))
display(lista_suap[0])

1

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
0,NaN,NaN,31/05/2021,Período,Período,30/06/2021
1,14,MATERIAL EDUCATIVO E ESPORTIVO,"42.654,54","0,00","0,00","42.654,54"
2,16,MATERIAL DE EXPEDIENTE,"62.510,78","0,00","163,20","62.347,58"
3,17,MATERIAL DE PROCESSAMENTO DE DADOS,"6.935,87","0,00","0,00","6.935,87"
4,19,MATERIAL DE ACONDICIONAMENTO E,"4.156,58","0,00","0,00","4.156,58"
5,NaN,EMBALAGEM,NaN,NaN,NaN,NaN
6,21,MATERIAL DE COPA E COZINHA,"13.566,14","0,00","0,00","13.566,14"
7,22,MATERIAL DE LIMPEZA E PROD. DE,"32.340,26","0,00","0,00","32.340,26"
8,NaN,HIGIENIZACAO,NaN,NaN,NaN,NaN
9,23,"UNIFORMES, TECIDOS E AVIAMENTOS","40.635,65","0,00","0,00","40.635,65"
10,24,MATERIAL P/ MANUT.DE BENS,"54.248,64","0,00","0,00","54.248,64"
11,NaN,IMOVEIS/INSTALACOES,NaN,NaN,NaN,NaN
12,25,MATERIAL P/ MANUTENCAO DE BENS,"333,56","0,00","0,00","333,56"
13,NaN,MOVEIS,NaN,NaN,NaN,NaN
14,26,MATERIAL ELETRICO E ELETRONICO,"40.922,99","0,00","0,00","40.922,99"
15,28,MATERIAL DE PROTECAO E SEGURANCA,"31.859,31","0,00","0,00","31.859,31"
16,35,MATERIAL LABORATORIAL,"2.903,00","0,00","0,00","2.903,00"
17,36,MATERIAL HOSPITALAR,"1.188,40","0,00","0,00","1.188,40"
18,39,MATERIAL P/ MANUTENCAO DE VEICULOS,"769,00","0,00","0,00","769,00"
19,42,FERRAMENTAS,"6.565,51","0,00","0,00","6.565,51"
20,44,MATERIAL DE SINALIZACAO VISUAL E,"377,50","0,00","0,00","377,50"
21,NaN,OUTROS,NaN,NaN,NaN,NaN
22,59,MATERIAL PARA DIVULGAÇÃO,"676,60","0,00","0,00","676,60"
23,-,Todos os Elementos de Despesa,"342.644,33","0,00","163,20","342.481,13"

In [39]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("rma_siafi.pdf", guess=False, pages="1-2")
print(len(lista_siafi))

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]
#tabela1[['CONTA CORRENTE']] = tabela1['CONTA CORRENTESALDO EM R$']

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

display(tabela1)
display(tabela2)

2

7  CONTA CORRENTESALDO EM  R$
8             P 1442.654,54 D
9             P 1662.510,78 D
10             P 176.935,87 D
11             P 194.156,58 D
12            P 2113.566,14 D
13            P 2232.132,03 D
14            P 2330.639,24 D
15            P 2454.248,64 D
16               P 25333,56 D
17            P 2640.922,99 D
18            P 2831.859,31 D
19             P 352.903,00 D

7                  CONTA CORRENTESALDO EM  R$
8                              P 361.188,40 D
9                                P 39769,00 D
10                             P 426.565,51 D
11                               P 44377,50 D
12                               P 59676,60 D
13  TOTAL COM ISF P - PERMANENTE:332.439,69 D
14                TOTAL DA CONTA:332.439,69 D