# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [1]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("suap/2023_12_RMA_SUAP.pdf", pages="1")
mes = '2023_12_RMA'
# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.dropna()
display(df_suap)

df_suap = df_suap[:-1]

# removendo e renomeando colunas
df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada'])
df_suap['ED'] = df_suap['Cod.']
df_suap['saida'] = df_suap['Saída']
df_suap['saldo_suap'] = df_suap['Estoque.1']
df_suap = df_suap.drop(columns=['Cod.', 'Estoque.1', 'Saída'])

# substituindo caracteres para a conversão em numero
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(".", "", regex=True)
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(",", ".", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(".", "", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(",", ".", regex=True)


df_suap['saldo_suap'] = pd.to_numeric(df_suap['saldo_suap'])
df_suap['saida'] = pd.to_numeric(df_suap['saida'])
print("{:.2f}".format(df_suap['saldo_suap'].sum()))
print(df_suap.info())
display(df_suap)

Got stderr: Jan 03, 2024 3:31:03 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Jan 03, 2024 3:31:03 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
1,04,GAS E OUTROS MATERIAIS ENGARRAFADOS,"0,00","544,70","544,70","0,00"
2,07,GENEROS DE ALIMENTACAO,"0,00","501,20","501,20","0,00"
3,14,MATERIAL EDUCATIVO E ESPORTIVO,"27.468,62","0,00","0,00","27.468,62"
4,16,MATERIAL DE EXPEDIENTE,"50.692,31","0,00","9,80","50.682,51"
5,17,MATERIAL DE PROCESSAMENTO DE DADOS,"13.477,99","0,00","50,00","13.427,99"
6,19,MATERIAL DE ACONDICIONAMENTO E,"2.012,33","0,00","425,19","1.587,14"
8,21,MATERIAL DE COPA E COZINHA,"6.582,29","0,00","0,00","6.582,29"
9,22,MATERIAL DE LIMPEZA E PROD. DE,"10.337,98","1.060,50","1.864,20","9.534,28"
11,23,"UNIFORMES, TECIDOS E AVIAMENTOS","29.731,73","0,00","0,00","29.731,73"
12,24,MATERIAL P/ MANUT.DE BENS,"30.372,98","0,00","16.769,43","13.603,55"
14,25,MATERIAL P/ MANUTENCAO DE BENS,"199,60","0,00","0,00","199,60"
16,26,MATERIAL ELETRICO E ELETRONICO,"18.908,17","3.373,24","2.086,24","20.195,17"
17,28,MATERIAL DE PROTECAO E SEGURANCA,"24.464,41","0,00","0,00","24.464,41"
18,36,MATERIAL HOSPITALAR,"913,40","0,00","0,00","913,40"
19,42,FERRAMENTAS,"5.358,47","0,00","3.271,47","2.087,00"
20,44,MATERIAL DE SINALIZACAO VISUAL E,"266,00","0,00","43,00","223,00"
22,59,MATERIAL PARA DIVULGAÇÃO,"11.146,60","0,00","11.146,60","0,00"
23,-,Todos os Elementos de Despesa,"231.932,88","5.479,64","36.711,83","200.700,69"

200700.69
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 1 to 22
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ED          17 non-null     object
 1   saida       17 non-null     float64
 2   saldo_suap  17 non-null     float64
dtypes: float64(2), object(1)
memory usage: 544.0+ bytes
None

    ED     saida  saldo_suap
1   04    544.70        0.00
2   07    501.20        0.00
3   14      0.00    27468.62
4   16      9.80    50682.51
5   17     50.00    13427.99
6   19    425.19     1587.14
8   21      0.00     6582.29
9   22   1864.20     9534.28
11  23      0.00    29731.73
12  24  16769.43    13603.55
14  25      0.00      199.60
16  26   2086.24    20195.17
17  28      0.00    24464.41
18  36      0.00      913.40
19  42   3271.47     2087.00
20  44     43.00      223.00
22  59  11146.60        0.00

In [2]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("siafi/2023_12_RMA_siafi.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
df_siafi = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')



# fatiando coluna para obter colunas ED e Saldo
df_siafi['ED'] = df_siafi['conta'].str[:4]
df_siafi['saldo_siafi'] = df_siafi['conta'].str[4:-1]

# removendo coluna ajustada
df_siafi = df_siafi.drop(columns=['conta'])

# utilize aqui para dropar as linhas extras quando some ou adiciona um novo ED
display(df_siafi)
df_siafi = df_siafi.drop(index=[15,16,17,18])

# substituindo caracteres para a conversão em numero
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(".", "", regex=True)
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(",", ".", regex=True)
df_siafi['ED'] = df_siafi['ED'].str.replace("P ", "", regex=True)
df_siafi['saldo_siafi'] = pd.to_numeric(df_siafi['saldo_siafi'])

print("{:.2f}".format(df_siafi['saldo_siafi'].sum()))
display(df_siafi)
print(df_siafi.info())

      ED                           saldo_siafi
0   P 14                            27.468,62
1   P 16                            50.692,31
2   P 17                            13.477,99
3   P 19                             2.012,33
4   P 21                             6.582,29
5   P 22                            11.398,48
6   P 23                            29.731,73
7   P 24                            30.372,98
8   P 25                               199,60
9   P 26                            21.868,28
10  P 28                            24.464,41
11  P 36                               913,40
12  P 42                             5.358,47
13  P 44                               266,00
14  P 59                            11.146,60
15  TOTA  L COM ISF P - PERMANENTE:235.953,49
16  TOTA                L DA CONTA:235.953,49
17   NaN                                   NaN
18   NaN                                   NaN

235953.49

    ED  saldo_siafi
0   14     27468.62
1   16     50692.31
2   17     13477.99
3   19      2012.33
4   21      6582.29
5   22     11398.48
6   23     29731.73
7   24     30372.98
8   25       199.60
9   26     21868.28
10  28     24464.41
11  36       913.40
12  42      5358.47
13  44       266.00
14  59     11146.60

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ED           15 non-null     object
 1   saldo_siafi  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 360.0+ bytes
None

In [3]:
# unindo data frames do suap e siafi em uma unica tabela
df_rma = pd.merge(df_suap, df_siafi, how = 'inner', on='ED')
df_rma = df_rma.reindex(columns=['ED','saldo_suap', 'saida', 'saldo_siafi'])

# calculando a diferença entre colunas 
df_rma['diferenca'] = df_rma['saldo_suap'] - df_rma['saldo_siafi']

# definindo a ação para cafa resultado
acao = []
for valor in df_rma['diferenca']:
    
    if valor > 0:
        baixa = "baixa no suap"
        acao.append(baixa)
    elif valor < 0:
        baixa = "baixa no siafi"
        acao.append(baixa)
    else:
        baixa = 'adequado'
        acao.append(baixa)

df_rma['acao'] = acao

display(df_rma)
df_rma.to_clipboard()
df_rma.to_excel(f'saida/{mes}.xlsx')

    ED  saldo_suap     saida  saldo_siafi  diferenca            acao
0   14    27468.62      0.00     27468.62       0.00        adequado
1   16    50682.51      9.80     50692.31      -9.80  baixa no siafi
2   17    13427.99     50.00     13477.99     -50.00  baixa no siafi
3   19     1587.14    425.19      2012.33    -425.19  baixa no siafi
4   21     6582.29      0.00      6582.29       0.00        adequado
5   22     9534.28   1864.20     11398.48   -1864.20  baixa no siafi
6   23    29731.73      0.00     29731.73       0.00        adequado
7   24    13603.55  16769.43     30372.98  -16769.43  baixa no siafi
8   25      199.60      0.00       199.60       0.00        adequado
9   26    20195.17   2086.24     21868.28   -1673.11  baixa no siafi
10  28    24464.41      0.00     24464.41       0.00        adequado
11  36      913.40      0.00       913.40       0.00        adequado
12  42     2087.00   3271.47      5358.47   -3271.47  baixa no siafi
13  44      223.00     43.00       266.00     -43.00  baixa no siafi
14  59        0.00  11146.60     11146.60  -11146.60  baixa no siafi