# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [3]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("suap/2023_10_RMA_SUAP.pdf", pages="1")
mes = '2023_10_RMA'
# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.dropna()
display(df_suap)

df_suap = df_suap[:-1]

# removendo e renomeando colunas
df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada'])
df_suap['ED'] = df_suap['Cod.']
df_suap['saida'] = df_suap['Saída']
df_suap['saldo_suap'] = df_suap['Estoque.1']
df_suap = df_suap.drop(columns=['Cod.', 'Estoque.1', 'Saída'])

# substituindo caracteres para a conversão em numero
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(".", "", regex=True)
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(",", ".", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(".", "", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(",", ".", regex=True)


df_suap['saldo_suap'] = pd.to_numeric(df_suap['saldo_suap'])
df_suap['saida'] = pd.to_numeric(df_suap['saida'])
print("{:.2f}".format(df_suap['saldo_suap'].sum()))
print(df_suap.info())
display(df_suap)

Got stderr: Nov 10, 2023 4:07:19 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Nov 10, 2023 4:07:19 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
1,07,GENEROS DE ALIMENTACAO,"0,00","543,90","543,90","0,00"
2,11,MATERIAL QUIMICO,"0,00","32,41","32,41","0,00"
3,14,MATERIAL EDUCATIVO E ESPORTIVO,"29.485,19","0,00","582,70","28.902,49"
4,16,MATERIAL DE EXPEDIENTE,"54.160,87","0,00","2.272,41","51.888,46"
5,17,MATERIAL DE PROCESSAMENTO DE DADOS,"13.477,99","0,00","0,00","13.477,99"
6,19,MATERIAL DE ACONDICIONAMENTO E,"2.012,33","0,00","0,00","2.012,33"
8,21,MATERIAL DE COPA E COZINHA,"6.582,29","0,00","0,00","6.582,29"
9,22,MATERIAL DE LIMPEZA E PROD. DE,"12.125,98","0,00","569,00","11.556,98"
11,23,"UNIFORMES, TECIDOS E AVIAMENTOS","21.242,98","0,00","1.793,50","19.449,48"
12,24,MATERIAL P/ MANUT.DE BENS,"31.870,28","0,00","32,30","31.837,98"
14,25,MATERIAL P/ MANUTENCAO DE BENS,"199,60","0,00","0,00","199,60"
16,26,MATERIAL ELETRICO E ELETRONICO,"18.908,17","0,00","0,00","18.908,17"
17,28,MATERIAL DE PROTECAO E SEGURANCA,"24.464,41","2.398,50","2.398,50","24.464,41"
18,35,MATERIAL LABORATORIAL,"0,00","2.837,74","2.799,40","38,34"
19,36,MATERIAL HOSPITALAR,"913,40","0,00","0,00","913,40"
20,42,FERRAMENTAS,"5.358,47","0,00","0,00","5.358,47"
21,44,MATERIAL DE SINALIZACAO VISUAL E,"266,00","0,00","0,00","266,00"
23,59,MATERIAL PARA DIVULGAÇÃO,"11.146,60","0,00","0,00","11.146,60"
24,-,Todos os Elementos de Despesa,"232.214,56","5.812,55","11.024,12","227.002,99"

227002.99
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 1 to 23
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ED          18 non-null     object
 1   saida       18 non-null     float64
 2   saldo_suap  18 non-null     float64
dtypes: float64(2), object(1)
memory usage: 576.0+ bytes
None

    ED    saida  saldo_suap
1   07   543.90        0.00
2   11    32.41        0.00
3   14   582.70    28902.49
4   16  2272.41    51888.46
5   17     0.00    13477.99
6   19     0.00     2012.33
8   21     0.00     6582.29
9   22   569.00    11556.98
11  23  1793.50    19449.48
12  24    32.30    31837.98
14  25     0.00      199.60
16  26     0.00    18908.17
17  28  2398.50    24464.41
18  35  2799.40       38.34
19  36     0.00      913.40
20  42     0.00     5358.47
21  44     0.00      266.00
23  59     0.00    11146.60

In [4]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("siafi/2023_10_RMA_siafi.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
df_siafi = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')



# fatiando coluna para obter colunas ED e Saldo
df_siafi['ED'] = df_siafi['conta'].str[:4]
df_siafi['saldo_siafi'] = df_siafi['conta'].str[4:-1]

# removendo coluna ajustada
df_siafi = df_siafi.drop(columns=['conta'])

# utilize aqui para dropar as linhas extras quando some ou adiciona um novo ED
display(df_siafi)
df_siafi = df_siafi.drop(index=[15,16,17,18])

# substituindo caracteres para a conversão em numero
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(".", "", regex=True)
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(",", ".", regex=True)
df_siafi['ED'] = df_siafi['ED'].str.replace("P ", "", regex=True)
df_siafi['saldo_siafi'] = pd.to_numeric(df_siafi['saldo_siafi'])

print("{:.2f}".format(df_siafi['saldo_siafi'].sum()))
display(df_siafi)
print(df_siafi.info())

      ED                           saldo_siafi
0   P 11                                32,41
1   P 14                            29.485,19
2   P 16                            54.160,87
3   P 17                            13.477,99
4   P 19                             2.012,33
5   P 21                             6.582,29
6   P 22                            12.125,98
7   P 23                            21.242,98
8   P 24                            31.870,28
9   P 25                               199,60
10  P 26                            18.908,17
11  P 28                            26.862,91
12  P 35                             2.605,74
13  P 36                               913,40
14  P 42                             5.358,47
15  P 44                               266,00
16  P 59                            11.146,60
17  TOTA  L COM ISF P - PERMANENTE:237.251,21
18  TOTA                L DA CONTA:237.251,21

225838.61

    ED  saldo_siafi
0   11        32.41
1   14     29485.19
2   16     54160.87
3   17     13477.99
4   19      2012.33
5   21      6582.29
6   22     12125.98
7   23     21242.98
8   24     31870.28
9   25       199.60
10  26     18908.17
11  28     26862.91
12  35      2605.74
13  36       913.40
14  42      5358.47

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ED           15 non-null     object
 1   saldo_siafi  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 360.0+ bytes
None

In [5]:
# unindo data frames do suap e siafi em uma unica tabela
df_rma = pd.merge(df_suap, df_siafi, how = 'inner', on='ED')
df_rma = df_rma.reindex(columns=['ED','saldo_suap', 'saida', 'saldo_siafi'])

# calculando a diferença entre colunas 
df_rma['diferenca'] = df_rma['saldo_suap'] - df_rma['saldo_siafi']

# definindo a ação para cafa resultado
acao = []
for valor in df_rma['diferenca']:
    
    if valor > 0:
        baixa = "baixa no suap"
        acao.append(baixa)
    elif valor < 0:
        baixa = "baixa no siafi"
        acao.append(baixa)
    else:
        baixa = 'adequado'
        acao.append(baixa)

df_rma['acao'] = acao

display(df_rma)
df_rma.to_clipboard()
df_rma.to_excel(f'saida/{mes}.xlsx')

    ED  saldo_suap    saida  saldo_siafi  diferenca            acao
0   11        0.00    32.41        32.41     -32.41  baixa no siafi
1   14    28902.49   582.70     29485.19    -582.70  baixa no siafi
2   16    51888.46  2272.41     54160.87   -2272.41  baixa no siafi
3   17    13477.99     0.00     13477.99       0.00        adequado
4   19     2012.33     0.00      2012.33       0.00        adequado
5   21     6582.29     0.00      6582.29       0.00        adequado
6   22    11556.98   569.00     12125.98    -569.00  baixa no siafi
7   23    19449.48  1793.50     21242.98   -1793.50  baixa no siafi
8   24    31837.98    32.30     31870.28     -32.30  baixa no siafi
9   25      199.60     0.00       199.60       0.00        adequado
10  26    18908.17     0.00     18908.17       0.00        adequado
11  28    24464.41  2398.50     26862.91   -2398.50  baixa no siafi
12  35       38.34  2799.40      2605.74   -2567.40  baixa no siafi
13  36      913.40     0.00       913.40       0.00        adequado
14  42     5358.47     0.00      5358.47       0.00        adequado