# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [5]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("rma_suap.pdf", pages="1")

# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.drop(index=[0, 5, 8, 11, 13, 21, 23])

# removendo e renomeando colunas
df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada'])
df_suap['ED'] = df_suap['Cod.']
df_suap['saida'] = df_suap['Saída']
df_suap['saldo_suap'] = df_suap['Estoque.1']
df_suap = df_suap.drop(columns=['Cod.', 'Estoque.1', 'Saída'])

# substituindo caracteres para a conversão em numero
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(".", "", regex=True)
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(",", ".", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(".", "", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(",", ".", regex=True)


df_suap['saldo_suap'] = pd.to_numeric(df_suap['saldo_suap'])
df_suap['saida'] = pd.to_numeric(df_suap['saida'])
print("{:.2f}".format(df_suap['saldo_suap'].sum()))
print(df_suap.info())
# display(df_suap)

309057.27
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 1 to 22
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ED          17 non-null     object
 1   saida       17 non-null     float64
 2   saldo_suap  17 non-null     float64
dtypes: float64(2), object(1)
memory usage: 544.0+ bytes
None

In [6]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("rma_siafi.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
df_siafi = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')

# fatiando coluna para obter colunas ED e Saldo
df_siafi['ED'] = df_siafi['conta'].str[:4]
df_siafi['saldo_siafi'] = df_siafi['conta'].str[4:-1]

# removendo coluna ajustada
df_siafi = df_siafi.drop(columns=['conta'])

# substituindo caracteres para a conversão em numero
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(".", "", regex=True)
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(",", ".", regex=True)
df_siafi['ED'] = df_siafi['ED'].str.replace("P ", "", regex=True)
df_siafi = df_siafi.drop(index=[17,18])


df_siafi['saldo_siafi'] = pd.to_numeric(df_siafi['saldo_siafi'])

print("{:.2f}".format(df_siafi['saldo_siafi'].sum()))
print(df_siafi.info())
# display(df_siafi)

332439.69
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ED           17 non-null     object
 1   saldo_siafi  17 non-null     float64
dtypes: float64(1), object(1)
memory usage: 408.0+ bytes
None

In [7]:
# unindo data frames do suap e siafi em uma unica tabela
df_rma = pd.merge(df_suap, df_siafi, how = 'inner')
df_rma = df_rma.reindex(columns=['ED','saldo_suap', 'saida', 'saldo_siafi'])

# calculando a diferença entre colunas 
df_rma['diferenca'] = df_rma['saldo_suap'] - df_rma['saldo_siafi']

# definindo a ação para cafa resultado
acao = []
for valor in df_rma['diferenca']:
    
    if valor > 0:
        baixa = "baixa no suap"
        acao.append(baixa)
    elif valor < 0:
        baixa = "baixa no siafi"
        acao.append(baixa)
    else:
        baixa = 'adequado'
        acao.append(baixa)

df_rma['acao'] = acao

display(df_rma)

    ED  saldo_suap     saida  saldo_siafi  diferenca            acao
0   14    42654.54      0.00     42654.54       0.00        adequado
1   16    62107.96    239.62     62510.78    -402.82  baixa no siafi
2   17     6914.84     21.03      6935.87     -21.03  baixa no siafi
3   19     4156.58      0.00      4156.58       0.00        adequado
4   21    13566.14      0.00     13566.14       0.00        adequado
5   22    25741.50   6598.76     32132.03   -6390.53  baixa no siafi
6   23    23522.43  17113.22     30639.24   -7116.81  baixa no siafi
7   24    54247.04      1.60     54248.64      -1.60  baixa no siafi
8   25      333.56      0.00       333.56       0.00        adequado
9   26    35944.74   4978.25     40922.99   -4978.25  baixa no siafi
10  28    27679.31   4180.00     31859.31   -4180.00  baixa no siafi
11  35     2903.00      0.00      2903.00       0.00        adequado
12  36      913.40    275.00      1188.40    -275.00  baixa no siafi
13  39      769.00      0.00       769.00       0.00        adequado
14  42     6549.13     16.38      6565.51     -16.38  baixa no siafi
15  44      377.50      0.00       377.50       0.00        adequado
16  59      676.60      0.00       676.60       0.00        adequado