# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [1]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("suap/2024-01-rma-suap-migracao.pdf", pages="1")
mes = '2024_01_RMA'
# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.dropna()
display(df_suap)

df_suap = df_suap[:-1]

# removendo e renomeando colunas
df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada'])
df_suap['ED'] = df_suap['Cod.']
df_suap['saida'] = df_suap['Saída']
df_suap['saldo_suap'] = df_suap['Estoque.1']
df_suap = df_suap.drop(columns=['Cod.', 'Estoque.1', 'Saída'])

# substituindo caracteres para a conversão em numero
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(".", "", regex=True)
df_suap['saldo_suap'] = df_suap['saldo_suap'].str.replace(",", ".", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(".", "", regex=True)
df_suap['saida'] = df_suap['saida'].str.replace(",", ".", regex=True)


df_suap['saldo_suap'] = pd.to_numeric(df_suap['saldo_suap'])
df_suap['saida'] = pd.to_numeric(df_suap['saida'])
print("{:.2f}".format(df_suap['saldo_suap'].sum()))
print(df_suap.info())
display(df_suap)

Got stderr: Jan 09, 2024 4:42:46 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Jan 09, 2024 4:42:46 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
1,14,MATERIAL EDUCATIVO E ESPORTIVO,"27.468,62","0,00","0,00","27.468,62"
2,16,MATERIAL DE EXPEDIENTE,"50.682,51","0,00","0,00","50.682,51"
3,17,MATERIAL DE PROCESSAMENTO DE DADOS,"13.427,99","0,00","0,00","13.427,99"
4,19,MATERIAL DE ACONDICIONAMENTO E,"1.587,14","0,00","0,00","1.587,14"
6,21,MATERIAL DE COPA E COZINHA,"6.582,29","0,00","0,00","6.582,29"
7,22,MATERIAL DE LIMPEZA E PROD. DE,"9.534,28","0,00","0,00","9.534,28"
9,23,"UNIFORMES, TECIDOS E AVIAMENTOS","29.731,73","0,00","0,00","29.731,73"
10,24,MATERIAL P/ MANUT.DE BENS,"13.603,55","0,00","0,00","13.603,55"
12,25,MATERIAL P/ MANUTENCAO DE BENS,"199,60","0,00","0,00","199,60"
14,26,MATERIAL ELETRICO E ELETRONICO,"20.195,17","0,00","0,00","20.195,17"
15,28,MATERIAL DE PROTECAO E SEGURANCA,"24.464,41","0,00","0,00","24.464,41"
16,36,MATERIAL HOSPITALAR,"913,40","0,00","0,00","913,40"
17,42,FERRAMENTAS,"2.087,00","0,00","0,00","2.087,00"
18,44,MATERIAL DE SINALIZACAO VISUAL E,"223,00","0,00","0,00","223,00"
20,-,Todos os Elementos de Despesa,"200.700,69","0,00","0,00","200.700,69"

200700.69
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 18
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ED          14 non-null     object
 1   saida       14 non-null     float64
 2   saldo_suap  14 non-null     float64
dtypes: float64(2), object(1)
memory usage: 448.0+ bytes
None

    ED  saida  saldo_suap
1   14    0.0    27468.62
2   16    0.0    50682.51
3   17    0.0    13427.99
4   19    0.0     1587.14
6   21    0.0     6582.29
7   22    0.0     9534.28
9   23    0.0    29731.73
10  24    0.0    13603.55
12  25    0.0      199.60
14  26    0.0    20195.17
15  28    0.0    24464.41
16  36    0.0      913.40
17  42    0.0     2087.00
18  44    0.0      223.00

In [3]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("siafi/2024-01-rma-siafi-migracao.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
df_siafi = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')



# fatiando coluna para obter colunas ED e Saldo
df_siafi['ED'] = df_siafi['conta'].str[:4]
df_siafi['saldo_siafi'] = df_siafi['conta'].str[4:-1]

# removendo coluna ajustada
df_siafi = df_siafi.drop(columns=['conta'])

# utilize aqui para dropar as linhas extras quando some ou adiciona um novo ED
display(df_siafi)
df_siafi = df_siafi.drop(index=[14, 15,16,17,18])

# substituindo caracteres para a conversão em numero
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(".", "", regex=True)
df_siafi['saldo_siafi'] = df_siafi['saldo_siafi'].str.replace(",", ".", regex=True)
df_siafi['ED'] = df_siafi['ED'].str.replace("P ", "", regex=True)
df_siafi['saldo_siafi'] = pd.to_numeric(df_siafi['saldo_siafi'])

print("{:.2f}".format(df_siafi['saldo_siafi'].sum()))
display(df_siafi)
print(df_siafi.info())

      ED                           saldo_siafi
0   P 14                            27.468,62
1   P 16                            50.682,51
2   P 17                            13.427,99
3   P 19                             1.587,14
4   P 21                             6.582,29
5   P 22                             9.534,28
6   P 23                            29.731,73
7   P 24                            13.603,55
8   P 25                               199,60
9   P 26                            20.195,17
10  P 28                            24.464,41
11  P 36                               913,40
12  P 42                             2.087,00
13  P 44                               223,00
14  TOTA  L COM ISF P − PERMANENTE:200.700,69
15  TOTA                L DA CONTA:200.700,69
16   NaN                                   NaN
17   NaN                                   NaN
18   NaN                                   NaN

200700.69

    ED  saldo_siafi
0   14     27468.62
1   16     50682.51
2   17     13427.99
3   19      1587.14
4   21      6582.29
5   22      9534.28
6   23     29731.73
7   24     13603.55
8   25       199.60
9   26     20195.17
10  28     24464.41
11  36       913.40
12  42      2087.00
13  44       223.00

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ED           14 non-null     object
 1   saldo_siafi  14 non-null     float64
dtypes: float64(1), object(1)
memory usage: 336.0+ bytes
None

In [4]:
# unindo data frames do suap e siafi em uma unica tabela
df_rma = pd.merge(df_suap, df_siafi, how = 'inner', on='ED')
df_rma = df_rma.reindex(columns=['ED','saldo_suap', 'saida', 'saldo_siafi'])

# calculando a diferença entre colunas 
df_rma['diferenca'] = df_rma['saldo_suap'] - df_rma['saldo_siafi']

# definindo a ação para cafa resultado
acao = []
for valor in df_rma['diferenca']:
    
    if valor > 0:
        baixa = "baixa no suap"
        acao.append(baixa)
    elif valor < 0:
        baixa = "baixa no siafi"
        acao.append(baixa)
    else:
        baixa = 'adequado'
        acao.append(baixa)

df_rma['acao'] = acao

display(df_rma)
df_rma.to_clipboard()
df_rma.to_excel(f'saida/{mes}.xlsx')

    ED  saldo_suap  saida  saldo_siafi  diferenca      acao
0   14    27468.62    0.0     27468.62        0.0  adequado
1   16    50682.51    0.0     50682.51        0.0  adequado
2   17    13427.99    0.0     13427.99        0.0  adequado
3   19     1587.14    0.0      1587.14        0.0  adequado
4   21     6582.29    0.0      6582.29        0.0  adequado
5   22     9534.28    0.0      9534.28        0.0  adequado
6   23    29731.73    0.0     29731.73        0.0  adequado
7   24    13603.55    0.0     13603.55        0.0  adequado
8   25      199.60    0.0       199.60        0.0  adequado
9   26    20195.17    0.0     20195.17        0.0  adequado
10  28    24464.41    0.0     24464.41        0.0  adequado
11  36      913.40    0.0       913.40        0.0  adequado
12  42     2087.00    0.0      2087.00        0.0  adequado
13  44      223.00    0.0       223.00        0.0  adequado