# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [9]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("rma_suap.pdf", pages="1")
print(len(lista_suap))
display(lista_suap[0])

1

,Cod.,Nome,Estoque,Entrada,Saída,Estoque.1
0,NaN,NaN,31/05/2021,Período,Período,30/06/2021
1,14,MATERIAL EDUCATIVO E ESPORTIVO,"42.654,54","0,00","0,00","42.654,54"
2,16,MATERIAL DE EXPEDIENTE,"62.510,78","0,00","163,20","62.347,58"
3,17,MATERIAL DE PROCESSAMENTO DE DADOS,"6.935,87","0,00","0,00","6.935,87"
4,19,MATERIAL DE ACONDICIONAMENTO E,"4.156,58","0,00","0,00","4.156,58"
5,NaN,EMBALAGEM,NaN,NaN,NaN,NaN
6,21,MATERIAL DE COPA E COZINHA,"13.566,14","0,00","0,00","13.566,14"
7,22,MATERIAL DE LIMPEZA E PROD. DE,"32.340,26","0,00","0,00","32.340,26"
8,NaN,HIGIENIZACAO,NaN,NaN,NaN,NaN
9,23,"UNIFORMES, TECIDOS E AVIAMENTOS","40.635,65","0,00","0,00","40.635,65"
10,24,MATERIAL P/ MANUT.DE BENS,"54.248,64","0,00","0,00","54.248,64"
11,NaN,IMOVEIS/INSTALACOES,NaN,NaN,NaN,NaN
12,25,MATERIAL P/ MANUTENCAO DE BENS,"333,56","0,00","0,00","333,56"
13,NaN,MOVEIS,NaN,NaN,NaN,NaN
14,26,MATERIAL ELETRICO E ELETRONICO,"40.922,99","0,00","0,00","40.922,99"
15,28,MATERIAL DE PROTECAO E SEGURANCA,"31.859,31","0,00","0,00","31.859,31"
16,35,MATERIAL LABORATORIAL,"2.903,00","0,00","0,00","2.903,00"
17,36,MATERIAL HOSPITALAR,"1.188,40","0,00","0,00","1.188,40"
18,39,MATERIAL P/ MANUTENCAO DE VEICULOS,"769,00","0,00","0,00","769,00"
19,42,FERRAMENTAS,"6.565,51","0,00","0,00","6.565,51"
20,44,MATERIAL DE SINALIZACAO VISUAL E,"377,50","0,00","0,00","377,50"
21,NaN,OUTROS,NaN,NaN,NaN,NaN
22,59,MATERIAL PARA DIVULGAÇÃO,"676,60","0,00","0,00","676,60"
23,-,Todos os Elementos de Despesa,"342.644,33","0,00","163,20","342.481,13"

In [30]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("rma_siafi.pdf", guess=False, pages="1-2")
print(len(lista_siafi))

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
tabela1 = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')

# fatiando coluna para obter colunas ED e Saldo
tabela1['ED'] = tabela1['conta'].str[:4]
tabela1['saldo'] = tabela1['conta'].str[4:-1]

# removendo coluna ajustada
tabela1 = tabela1.drop(columns=['conta'])

# substituindo caracteres para a conversão em numero
tabela1['saldo'] = tabela1['saldo'].str.replace(".", "")
tabela1['saldo'] = tabela1['saldo'].str.replace(",", ".")
tabela1 = tabela1.drop(index=17)
tabela1.loc[18] = tabela1.loc[18].str.replace('L DA CONTA:', "")


tabela1['saldo'] = pd.to_numeric(tabela1['saldo'])




display(tabela1)
# display(tabela2)

2

<ipython-input-30-0137e6ee8d3a>:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  tabela1['saldo'] = tabela1['saldo'].str.replace(".", "")

      ED      saldo
0   P 14   42654.54
1   P 16   62510.78
2   P 17    6935.87
3   P 19    4156.58
4   P 21   13566.14
5   P 22   32132.03
6   P 23   30639.24
7   P 24   54248.64
8   P 25     333.56
9   P 26   40922.99
10  P 28   31859.31
11  P 35    2903.00
12  P 36    1188.40
13  P 39     769.00
14  P 42    6565.51
15  P 44     377.50
16  P 59     676.60
18  TOTA  332439.69