# importando tabula e arquivos pdf
- importante que os PDFs estejam todos na mesma página dos arquivos

In [26]:
import tabula
import pandas as pd

lista_suap = tabula.read_pdf("rma_suap.pdf", pages="1")

# lista em dataframe
df_suap = lista_suap[0]

# removendo linhas com valores nulos
df_suap = df_suap.drop(index=[0, 5, 8, 11, 13, 21, 23])

df_suap = df_suap.drop(columns=['Nome', 'Estoque', 'Entrada', 'Saída'])

display(df_suap)



# display(lista_suap[0])

   Cod.  Estoque.1
1    14  42.654,54
2    16  62.347,58
3    17   6.935,87
4    19   4.156,58
6    21  13.566,14
7    22  32.340,26
9    23  40.635,65
10   24  54.248,64
12   25     333,56
14   26  40.922,99
15   28  31.859,31
16   35   2.903,00
17   36   1.188,40
18   39     769,00
19   42   6.565,51
20   44     377,50
22   59     676,60

In [4]:
# parâmetros lattice=True e guess=False para conseguir reconhecer e montar tabelas em arquivos com formatação diferente

lista_siafi = tabula.read_pdf("rma_siafi.pdf", guess=False, pages="1-2")

tabela1 = lista_siafi[0]
tabela1.columns = tabela1.iloc[7]
tabela1 = tabela1[8:20]

tabela2 = lista_siafi[1]
tabela2.columns = tabela2.iloc[7]
tabela2 = tabela2[8:15]

# Renomeando coluna por causa do caracter especial $

tabela1.columns = ['conta']
tabela2.columns = ['conta']

# unindo tabelas pela coluna conta
tabela1 = pd.merge(tabela1, tabela2, how = 'outer', on = 'conta')

# fatiando coluna para obter colunas ED e Saldo
tabela1['ED'] = tabela1['conta'].str[:4]
tabela1['saldo'] = tabela1['conta'].str[4:-1]

# removendo coluna ajustada
tabela1 = tabela1.drop(columns=['conta'])

# substituindo caracteres para a conversão em numero
tabela1['saldo'] = tabela1['saldo'].str.replace(".", "", regex=True)
tabela1['saldo'] = tabela1['saldo'].str.replace(",", ".", regex=True)
tabela1 = tabela1.drop(index=[17,18])


tabela1['saldo'] = pd.to_numeric(tabela1['saldo'])

print("{:.2f}".format(tabela1['saldo'].sum()))
print(type(tabela1))
display(tabela1)

332439.69
<class 'pandas.core.frame.DataFrame'>

      ED     saldo
0   P 14  42654.54
1   P 16  62510.78
2   P 17   6935.87
3   P 19   4156.58
4   P 21  13566.14
5   P 22  32132.03
6   P 23  30639.24
7   P 24  54248.64
8   P 25    333.56
9   P 26  40922.99
10  P 28  31859.31
11  P 35   2903.00
12  P 36   1188.40
13  P 39    769.00
14  P 42   6565.51
15  P 44    377.50
16  P 59    676.60